{% extends 'base.html' %}
{% load static %}

{% block head %}
    <!-- This block defines the content of the head tag. -->
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <!-- This block defines the content of the body tag. -->
    <h2>Login</h2>
    <!-- This tag creates a form with the method set to post. -->
    <form method="post">
        <!-- This tag adds a CSRF token to the form. -->
        {% csrf_token %}
        <!-- This tag renders the form as a paragraph. -->
        {{ form.as_p }}
        <!-- This tag creates a button with the text Login. -->
        <button type="submit">Login</button>
    </form>
{% endblock %}