{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li><a class="nav-link" href="{% url 'logout' %}">Déconnexion</a></li>
                    <li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                {% endif %}
                <!-- Other links -->
                {% if user.is_authenticated and user.psychologist %}
                    <li><a class="nav-link" href="{% url 'create_patient' %}">Create Patient</a></li>
                    <li><a class="nav-link" href="{% url 'patient_list' %}">List Patients</a></li>
                    <li><a class="nav-link" href="{% url 'patient_emotions' %}">Search Patient</a></li>
                    <li><a class="nav-link" href="{% url 'text_search' %}">Text Search</a></li>
                {% endif %}
                {% if user.is_authenticated and user.patient %}
                    <li><a class="nav-link" href="{% url 'create_text' %}">Create Text</a></li>
                {% endif %}
            </ul>
        </nav>

        <div class="content">
            {% block content %}
            <!-- Contenu spécifique à chaque page sera inséré ici -->
            {% endblock %}
        </div>

        <footer class="footer">
            <!-- Ajoutez ici votre pied de page -->
        </footer>
    </div>
</body>
</html>
